.form {
    text-align: right;
  }
  
.form button {
    font: inherit;
    cursor: pointer;
    background-color:  rgb(253, 130, 82);
    border: 1px solid  rgb(250, 123, 72);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
.form button:hover,
.form button:active {
    background-color: rgb(247, 112, 59);
    border-color: rgb(250, 123, 72);
  }
.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
.input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
.input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }